#dragspace {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    right: 96px;
    left: 0;
    height: 33px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#window {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
}

.window-btn img {
    width: 16px;
}

.window-btn {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid lightgray;
    border-top: none;
    position: fixed;
    top: 0;
    right: 16px;
    height: 16px;
}

#window-close {
    border-bottom-right-radius: 5px;
}

#window-minimize {
    border-bottom-left-radius: 5px;
    right: 66px;
}

#window-maximize, #window-restore {
    right: 41px;
}

.window-btn img {
    pointer-events: none;
}

#copyright {
    right: 114px !important;
}